<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DeskUp - It's Worth it</title>
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
       <nav class="navbar navbar-expand-md fixed-top animated ">
            <a class="navbar-brand" href="#">
                <span>DeskUp</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/featured">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/brands">Brands</a>
                    </li>
                </ul>
                
                <form action="#">
                    <input type="search" class="search-data" placeholder="Search" required>
                    <button type="submit" class="fas fa-search"></button>
                </form>

                <a role="button" href="/logreg" class="btn btn-secondary" id="loginButton"> 
                  <i class="fas fa-user"></i> Login
                </a>
            </div>
        </nav>

    <div class="content">
      
      <div class="container featuredCont">
        <div class="row headerRowFeatured">
          <div class="col-md-5">
            <h1 class="featuredText">Featured</h1>
          </div>

          <div class="col-md-7">

            <span class="featuredAbout">If you're looking for product reviews for you next upgrade, 
              we got you covered. View the product reviews our very own contributors
              have in store for you. 
            </span>
          </div>
        </div>
        
        <div class="row contentRowFeatured">
          <div class="col-md-6">
            <img src="images/lgUW.png" class="img-responsive featuredIMG">
            <p class="articleTitle">The 10 Best 144hz Monitor for your Gaming Needs</p>
            <p class="articleDetails">by Jeric Barraza. August 31, 2020</p>
            <p class="articlePreview">As technology becomes more and more advanced, there's a lot of options for 
              Gaming monitors. From RoG, to DELL, and LG, 144hz are here to stay. Goodbye 60hz monitors.
            </p>
          </div>

          <div class="col-md-6">
            <img src="images/lgUW.png" class="img-responsive featuredIMG">
            <p class="articleTitle">The 10 Best 144hz Monitor for your Gaming Needs</p>
            <p class="articleDetails">by Jeric Barraza. August 31, 2020</p>
            <p class="articlePreview">As technology becomes more and more advanced, there's a lot of options for 
              Gaming monitors. From RoG, to DELL, and LG, 144hz are here to stay. Goodbye 60hz monitors.
            </p>
          </div>
        </div>

        <div class="row contentRowFeatured">
          <div class="col-md-6">
            <img src="images/lgUW.png" class="img-responsive featuredIMG">
            <p class="articleTitle">The 10 Best 144hz Monitor for your Gaming Needs</p>
            <p class="articleDetails">by Jeric Barraza. August 31, 2020</p>
            <p class="articlePreview">As technology becomes more and more advanced, there's a lot of options for 
              Gaming monitors. From RoG, to DELL, and LG, 144hz are here to stay. Goodbye 60hz monitors.
            </p>
          </div>

          <div class="col-md-6">
            <img src="images/lgUW.png" class="img-responsive featuredIMG">
            <p class="articleTitle">The 10 Best 144hz Monitor for your Gaming Needs</p>
            <p class="articleDetails">by Jeric Barraza. August 31, 2020</p>
            <p class="articlePreview">As technology becomes more and more advanced, there's a lot of options for 
              Gaming monitors. From RoG, to DELL, and LG, 144hz are here to stay. Goodbye 60hz monitors.
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="footer">
      <div class="container-fluid footerCont">
        <div class="container">
          <div class="row justify-content-md-center">
            <h4>About Us</h4>
          </div>
          <div class="row justify-content-md-center">
            <h5>Community</h5>
          </div>
          <div class="row justify-content-md-center">
            <h5>Contributors</h5>
          </div>
          <div class="row justify-content-md-center">
            <h5>Developers</h5>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
