<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DeskUp - It's Worth it</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script> 
  </head>
  <body>
    <nav>
        <div class="menu-icon"><span class="fas fa-bars"></span></div>
        <div class="logo">DeskUp</div>
        <div class="nav-items">
            <li><a href="/">Home</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/brands">Brands</a></li>
            <li><a href="/login">Login</a></li>
            <li></li>
        </div>
        <div class="search-icon"><span class="fas fa-search"></span></div>
        <div class="cancel-icon"><span class="fas fa-times"></span></div>
        <form action="#">
            <input type="search" class="search-data" placeholder="Search" required>
            <button type="submit" class="fas fa-search"></button>
        </form>
    </nav>

    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <div class="gallery-cell">
        <div class="slider">
          <img class="sliderimg" src="images/desk1.webp">
          <div class="info">
            <p id="sliderCategory">GUIDE</p>
            <a id="sliderArticleTitle">9 Minimalist Desk Setups for Your Workspace</a>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="slider">
          <img class="sliderimg" src="images/lgUW.png">
          <div class="info">
            <p id="sliderCategory">REVIEW</p>
            <a id="sliderArticleTitle">LG's stunning 38-inch UltraWide 38UC99-W Monitor Review</a>
          </div>
        </div>
      </div>
      <div class="gallery-cell">
        <div class="slider">
          <img class="sliderimg" src="images/wfm2.jpg">
          <div class="info">
            <p id="sliderCategory">GUIDE</p>
            <a id="sliderArticleTitle">Work From Home Essentials</a>
          </div>
        </div>
      </div>
    </div>
    
    <script>
    const menuBtn = document.querySelector(".menu-icon span");
    const searchBtn = document.querySelector(".search-icon");
    const cancelBtn = document.querySelector(".cancel-icon");
    const items = document.querySelector(".nav-items");
    const form = document.querySelector("form");
    const carp = document.querySelector(".owl-carousel");

    menuBtn.onclick = ()=>{
        items.classList.add("active");
        menuBtn.classList.add("hide");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
    }
    cancelBtn.onclick = ()=>{
        items.classList.remove("active");
        menuBtn.classList.remove("hide");
        searchBtn.classList.remove("hide");
        cancelBtn.classList.remove("show");
        form.classList.remove("active");
        cancelBtn.style.color = "#9b9b9b";
    }
    searchBtn.onclick = ()=>{
        form.classList.add("active");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
    }
  </script>

  </body>
</html>
