<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>DeskUp - It's Worth it</title>
        <link rel="stylesheet" href="index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script language="JavaScript" type="text/javascript" src="/js/jquery.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md fixed-top animated">
            <a class="navbar-brand logo" href="/">
                <span>DeskUp</span>
            </a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/featured">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories">Categories</a>
                    </li>
                </ul>

                <form action="#">
                    <input type="search" class="search-data" placeholder="Search" required>
                    <button type="submit" class="fas fa-search"></button>
                </form>

                {{#if username}}
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownbg">
                            <i class="fas fa-user"></i>{{username}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="" id="dropdowntext">Profile</a>
                            <a class="dropdown-item" href="manage-post" id="dropdowntext">Manage Post</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="signout" id="dropdowntext">Logout</a>
                        </div>
                    </div>
                    </p>
                    {{else}}
                        <div class="btn-group">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownbg">
                                <i class="fas fa-user"></i>Account
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/login" id="dropdowntext">Login</a>
                                <a class="dropdown-item" href="/register" id="dropdowntext">Register</a>
                            </div>
                        </div>
                {{/if}}
        </nav>

        <div class="content" id="marginclass">
            <div class="container featuredCont">
                <div class="row headerRowFeatured">
                    <div class="col-md-5" id="col-md-Feartured">
                        <h1 class="featuredText">Manage Post</h1>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#exampleModal" id="addButton">Add</button>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Text:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Send message</button>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-3 mng-post-row">
                    <div class="col-md-12 border-bottom">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="postTitle">LG's stunning 38-inch UltraWide 38UC99-W Monitor</p>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-outline-dark btn-sm">Edit</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                            </div> 
                        </div>
                        <p class="postPreview">As technology becomes more and more advanced, there's a lot of options for 
                        Gaming monitors. From RoG, to DELL, and LG, 144hz are here to stay. Goodbye 60hz monitors...
                        </p>
                    </div>
                </div>
                <div class="row pt-3 mng-post-row">
                    <div class="col-md-12 border-bottom">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="postTitle">LG's stunning 38-inch UltraWide 38UC99-W Monitor</p>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-outline-dark btn-sm">Edit</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                            </div> 
                        </div>
                        <p class="postPreview">As technology becomes more and more advanced, there's a lot of options for 
                        Gaming monitors. From RoG, to DELL, and LG, 144hz are here to stay. Goodbye 60hz monitors...
                        </p>
                    </div>
                </div>
                <div class="row pt-3 mng-post-row">
                    <div class="col-md-12 border-bottom">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="postTitle">LG's stunning 38-inch UltraWide 38UC99-W Monitor</p>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-outline-dark btn-sm">Edit</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                            </div> 
                        </div>
                        <p class="postPreview">As technology becomes more and more advanced, there's a lot of options for 
                        Gaming monitors. From RoG, to DELL, and LG, 144hz are here to stay. Goodbye 60hz monitors...
                        </p>
                    </div>
                </div>
                <div class="row pt-3 mng-post-row">
                    <div class="col-md-12 border-bottom">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="postTitle">LG's stunning 38-inch UltraWide 38UC99-W Monitor</p>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-outline-dark btn-sm">Edit</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                            </div> 
                        </div>
                        <p class="postPreview">As technology becomes more and more advanced, there's a lot of options for 
                        Gaming monitors. From RoG, to DELL, and LG, 144hz are here to stay. Goodbye 60hz monitors...
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="mt-5 pt-4 pb-3 footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xs-12 about-company">
                        <h2>About Us</h2>
                        <p class="pr-5 text-white-50">DeskUp is a product review website. It shares insight, inspiration and ideas about desk setups. 
                            Contains detailed guides and reviews of different products found on a desk setup</p>
                        <p>NPM Packages: Express, HBS, Express-Session, Body-parser, Mongoose, Bootsrap</p>
                    </div>
                    <div class="col-lg-2 col-xs-12 links">
                        {{!-- <h4 class="mt-lg-0 mt-sm-3">More</h4>
                        <ul class="m-0 p-0">
                            <li>- <a href="#">Community</a></li>
                            <li>- <a href="#">Contributors</a></li>
                            <li>- <a href="#">Developers</a></li>
                        </ul> --}}
                    </div>
                    <div class="col-lg-4 col-xs-12 location">
                        <h4 class="mt-lg-0 mt-sm-4">Contact Us</h4>
                        <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
                        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
                        <p><i class="fa fa-envelope mr-3"></i>DeskUp@dkup.com</p>
                    </div>
                </div>
                <div class="row mt-2 border-top">
                    <div class="col copyright">
                    <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>