<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>DeskUp - Article Title</title>
        <link rel="stylesheet" href="index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
       <nav class="navbar navbar-expand-md fixed-top animated ">
            <a class="navbar-brand logo" href="/">
                <span>DeskUp</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/featured">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/brands">Brands</a>
                    </li>
                </ul>
                
                <form action="#">
                    <input type="search" class="search-data" placeholder="Search" required>
                    <button type="submit" class="fas fa-search"></button>
                </form>

                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownbg">
                        <i class="fas fa-user"></i>Account
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/login" id="dropdowntext">Login</a>
                        <a class="dropdown-item" href="/register" id="dropdowntext">Register</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="content" id="marginclass">
            <div                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     class="container" >
                <nav aria-label="breadcrumb" >
                    <ol class="breadcrumb" id="breadcrumbBG">
                        <li class="breadcrumb-item"><a href="/" id="breadcrumbItemColor">Home</a></li>
                        <li class="breadcrumb-item"><a href="/reviews" id="breadcrumbItemColor">Reviews</a></li>
                        <li class="breadcrumb-item active" aria-current="page">LG's stunning 38-inch UltraWide 38UC99-W Monitor</li>
                    </ol>
                </nav>
                <div class="row" >
                    <div class="col-12 m-auto">
                        <img src="images/lgUW.png" class="img-responsive featuredIMG">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-8 m-auto">
                        <p class="articleTitle">LG's stunning 38-inch UltraWide 38UC99-W Monitor</p>
                        <p class="articleDetails">by Patrick Lawrence. August 31, 2020</p>
                    </div>

                    <div class="col-4 mt-2">
                        <div class="row">
                            <div class="col">
                                <span id="articleScore">DeskUP SCORE</span>
                            </div>
                            <div class="col">
                                <div class="progress" id="score" style="height: 20px;">
                                    <div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="25" aria-valuemin="50" aria-valuemax="100" id="scoreValue">8.8</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 m-auto">
                        <div class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at ipsum ac magna sodales tincidunt eget eu libero. Praesent sed ultricies 
                            enim. Etiam lobortis velit in lectus semper malesuada. Mauris tincidunt aliquam orci eu finibus. Nam id libero mattis, tincidunt nisl eu, aliquam arcu. Vestibulum 
                            at dictum ex. Nulla facilisi. Fusce sagittis porttitor felis tempor rhoncus. Integer pretium nibh a massa condimentum ullamcorper. Sed nulla nisl, aliquam vel 
                            feugiat sed, porta id magna. Ut tincidunt metus et tristique porttitor. Nunc pulvinar congue condimentum. Sed pretium lorem nisl, ac ullamcorper erat fringilla 
                            convallis. Nunc consequat placerat turpis et venenatis. Aenean consequat pulvinar dui ac sollicitudin. Pellentesque faucibus libero ut massa tristique, vitae 
                            placerat nulla suscipit. Mauris at scelerisque elit. In hac habitasse platea dictumst.
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <img src="images/curved.jpg" class="img-responsive featuredIMG">
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-6 m-auto">
                        <p class="specificationsHeading">Specifications</p>
                        <p class="specs reviewText">Name: LG 38UC99-W <br> Screen size: 37.5" Curved <br> Resolution: 3840 x 1600 <br> Refresh Rate: 60 Hz / 75Hz with Display Port with FreeSync 
                            <br> Panel Type: IPS <br>  sRGb over 99% <br>  1ms Motion Blur Reduction <br> USB Type-C™ & USB 3.0 Quick Charge <br> Bluetooth Speakers with Rich Bass                  
                        </p>
                        <a href=""></a><div class="buyNow">Buy Now</div></a>
                    </div>

                    <div class="col-6 reviewborderleft">
                        <img src="images/lgmonitor.jpg" class="img-responsive featuredIMG">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 m-auto border-top border-bottom">
                        <p class="ArticleHeadings">Pros</p>
                        <ul class="prosList">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at ipsum ac magna sodales tincidunt eget eu libero.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at ipsum ac magna sodales tincidunt eget eu libero.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at ipsum ac magna sodales tincidunt eget eu libero.</li>
                        </ul>
                        <p class="ArticleHeadings">Cons</p>
                        <ul class="prosList">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at ipsum ac magna sodales tincidunt eget eu libero.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at ipsum ac magna sodales tincidunt eget eu libero.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at ipsum ac magna sodales tincidunt eget eu libero.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 m-auto border-bottom">
                        <p class="ArticleHeadings">Verdict</p>
                        <div class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at ipsum ac magna sodales tincidunt eget eu libero. Praesent sed ultricies 
                            enim. Etiam lobortis velit in lectus semper malesuada. Mauris tincidunt aliquam orci eu finibus. Nam id libero mattis, tincidunt nisl eu, aliquam arcu. Vestibulum 
                            at dictum ex. Nulla facilisi. Fusce sagittis porttitor felis tempor rhoncus. Integer pretium nibh a massa condimentum ullamcorper. Sed nulla nisl, aliquam vel 
                            feugiat sed, porta id magna. Ut tincidunt metus et tristique porttitor. Nunc pulvinar congue condimentum. Sed pretium lorem nisl, ac ullamcorper erat fringilla 
                            convallis. Nunc consequat placerat turpis et venenatis. Aenean consequat pulvinar dui ac sollicitudin. Pellentesque faucibus libero ut massa tristique, vitae 
                            placerat nulla suscipit. Mauris at scelerisque elit. In hac habitasse platea dictumst.
                        </div>
                    </div>
                </div>
                <div class="container mb-5">
                    <p class="comments">Comments</p>
                    <div class="d-flex flex-row">
                        {{!-- <div class="p-2"><i class="fas fa-comment-alt fa-3x"></i></div> --}}
                        <input class="commentNow" placeholder="Write a comment..."></input>
                    </div> 
                    <div class="row d-flex justify-content-end">
                        <div class="commentLoginbutton"><a href="/login" style="color: white; text-decoration: none">Comment</a></div>
                    </div>
                
                    <div class="d-flex flex-row comment-row m-t-0">
                        <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg" alt="user" width="50" class="rounded-circle"></div>
                        <div class="comment-text w-100">
                            <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                            <div class="comment-footer"> 
                                <span class="text-muted float-right">August 14, 2020</span> 
                                {{!-- <button type="button" class="btn btn-info btn-sm">Edit</button> 
                                <button type="button" class="btn btn-success btn-sm">Publish</button> 
                                <button type="button" class="btn btn-danger btn-sm">Delete</button> --}}
                            </div>            
                        </div>

                    </div> 

                    <div class="d-flex flex-row comment-row">
                        <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg" alt="user" width="50" class="rounded-circle"></div>
                        <div class="comment-text active w-100">
                            <h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">I have the same product and its great!. </span>
                            <div class="comment-footer"> 
                                <span class="text-muted float-right">August31, 2020</span> 
                                {{!-- <button type="button" class="btn btn-info btn-sm">Edit</button> 
                                <button type="button" class="btn btn-success btn-sm">Publish</button>
                                <button type="button" class="btn btn-danger btn-sm">Delete</button>  --}}
                            </div>
                        </div>
                    </div>
    
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text w-100">
                            <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Thanks for the wonderful review. </span>
                            <div class="comment-footer"> 
                                <span class="text-muted float-right">September 3, 2020</span> 
                                {{!-- <button type="button" class="btn btn-info btn-sm">Edit</button> 
                                <button type="button" class="btn btn-success btn-sm">Publish</button> 
                                <button type="button" class="btn btn-danger btn-sm">Delete</button>  --}}
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="mt-5 pt-4 pb-3 footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xs-12 about-company">
                        <h2>About Us</h2>
                        <p class="pr-5 text-white-50">DeskUp is a product review website. It shares insight, inspiration and ideas about desk setups. 
                          Contains detailed guides and reviews of different products found on a desk setup</p>
                        <p>NPM Packages: Express, HBS, Express-Session, Body-parser, Mongoose, Bootsrap</p>
                      </div>
                    <div class="col-lg-2 col-xs-12 links">
                        {{!-- <h4 class="mt-lg-0 mt-sm-3">More</h4>
                        <ul class="m-0 p-0">
                            <li>- <a href="#">Community</a></li>
                            <li>- <a href="#">Contributors</a></li>
                            <li>- <a href="#">Developers</a></li>
                        </ul> --}}
                    </div>
                    <div class="col-lg-4 col-xs-12 location">
                        <h4 class="mt-lg-0 mt-sm-4">Contact Us</h4>
                        <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
                        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
                        <p><i class="fa fa-envelope mr-3"></i>DeskUp@dkup.com</p>
                    </div>
                </div>
                <div class="row mt-2 border-top">
                    <div class="col copyright">
                    <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>
